<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.thinkingsauce.brew_autoupdate</string>
    <key>ProgramArguments</key>
    <array>
      <string>{{runInTerminalPath}}</string>
      <string>{{brewAutoupdatePath}}</string>
      <string>run</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>5</integer>
        <key>Hour</key>
        <integer>09</integer>
        <key>Minute</key>
        <integer>00</integer>
    </dict>
</dict>
</plist>
